[Desktop Entry]
Comment=Aurorae theme for plasma KDE
Name=OieDark
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=OieDark
